<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arrjay's Portfolio</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- App Stylesheets -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- App Scripts -->
    <script src="scripts/app.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Brawler|Cinzel+Decorative:700|Cinzel:700|Lora:400i,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/bc941201e1.js"></script>

  </head>
  <body>
    <!-- First Parallax Section -->
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/FV6gqxQ.jpg"></div>
    </div>
    <div class="section">
      <br>
      <div class="row">
        <h3 class="light blue-grey-text text-darken-3"> <i class="fa fa-pencil" aria-hidden="true"></i> Ryan Johnson: Web Developer, JS enthusiast, fan of initials</h3>
        <div class="row">
          <div class="container">
            <p class="grey-text text-darken-3 lighten-3">There's nothing more exciting than a blank piece of paper, or a newly opened terminal console</p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col m4">
            <img class="hero-image responsive-img" src="https://i.imgur.com/kwE6nIL.jpg" alt="">
          </div>
          <div class="col m8">
            <p>I have always been a builder, turning lego blocks into entire worlds, walnut slabs into cabinets, and text chunks into beautiful prose. Now I build with blocks of code, creating magnificent web applications that improve people's lives and bring them joy.</p>
            <br>
            <p>This journey began as many do, with a hunger to create. I have worn many professional hats in the past--mentor, educator, researcher, entrepreneur, philanthropist--and have relished each of these roles. Through each of these, I am driven by the connection I have to others. If I can work to improve someone's life, job, or journey, I will do so with resolute vigor.</p>
            <br>
            <p>Yet it is in coding that I ultimately found fulfillment. Synergy formed between my desire to create and my ability to analyze and debug problems meticulously. I enrolled in an immersive web development program at General Assembly where I developed into a tenacious programmer with a keen eye for writing efficient and elegant JavaScript and zeal for solving problems. The things I create on a daily basis are both thrilling and functional.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <h3 class="header center blue-grey-text text-darken-3">My projects</h3>
        <h5 class="center">(click one!)</h5>
        <br>
        <br>


        <!-- Project Slider -->

      </div>
      <div class="row">
        <div class="slider">
          <ul class="slides" id="append-projects">
            <li>
              <a href="http://arrjay.ninja">
                <img src="https://arrjay-api.herokuapp.com/images/cuddle-dungeon.png">
                <div class="caption center-align background-shadow">
                  <h3 class="blue-grey-text text-darken-3 add-shadow">Cuddle Dungeon: The Game!</h3>
                  <h5 class="light blue-grey-text text-darken-3 add-shadow">A JRPG style game involving humor and cuddly but vicious woodland creatures</h5>
                </div>
              </a>
            </li>

            <li>
              <a href="https://floating-lowlands-88571.herokuapp.com/">
                <img src="https://i.imgur.com/YyJaMNV.png">
                <div class="caption center-align background-shadow">
                  <h3 class="blue-grey-text text-darken-3 add-shadow">TASC - Teachers and Students Connecting</h3>
                  <h5 class="light blue-grey-text text-darken-3 add-shadow">Facilitating communication and feedback between teachers and students</h5>
                </div>
              </a>
            </li>

            <li>
              <a href="https://warm-hamlet-72558.herokuapp.com/">
                <img src="https://i.imgur.com/iV4dlGK.png">
                <div class="caption center-align background-shadow">
                  <h3 class="blue-grey-text text-darken-3 add-shadow">Keeping T.I.M.E.</h3>
                  <h5 class="light blue-grey-text text-darken-3 add-shadow">An Angular app for learning languages through music</h5>
                </div>
              </a>
            </li>

          </ul>
          <br>
          <br>
        </div>
        <div class="row">
          <br>
          <br>
          <div class="col m2 offset-m4 center">
            <a class="button-group waves-effect waves-light btn prev">Previous</a>
          </div>
          <div class="col m2">
            <a class="button-group waves-effect waves-light btn next">Next</a>

          </div>


        </div>
      </div>
    </div>


    <div class="parallax-container">
      <!-- <div class="parallax"><img src="https://i.imgur.com/jaUHbIO.jpg"></div> -->
      <div class="parallax"><img src="https://i.imgur.com/TDOkLpF.jpg"></div>
    </div>
    <div class="section">
      <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="col m9">
            <div class="contact">
              <br>
              <div class="row">
                <div class="col m4">
                  <img class="hero-image" src="https://media.licdn.com/media/AAEAAQAAAAAAAAc5AAAAJGU3MDEyNmQxLWY1YTEtNDA0OS1iZWE3LWZkYzA4ZTNjMTBjZg.jpg" alt="">
                </div>
                <div class="col m7">
                  <div class="row">
                    <h5>Ryan Johnson</h5>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col m3">
                      Email:
                    </div>
                    <div class="col m9">
                      <a href="mailto:johnson.rl@gmail.com?subject=jerbs!">johnson.rl@gmail.com</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col m3">
                      Github:
                    </div>
                    <div class="col m9">
                      <a href="https://github.com/johnson-rl">github.com/johnson-rl</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col m3">
                      LinkedIn:
                    </div>
                    <div class="col m9">
                      <a href="https://www.linkedin.com/in/johnson-rl/">linkedin.com/in/johnson-rl</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about hide">
              <div class="col m4">
                <img class="hero-image" src="https://i.imgur.com/94wwUch.jpg" alt="">
              </div>
              <div class="col m8">
                <p>I'm basically the coooolest!</p>
              </div>
            </div>
            <div class="adventure hide">

            </div>
          </div>
          <div class="col m3">
            <div class="button-group waves-effect waves-light contact-button"><h4 class="header blue-grey-text text-darken-3 center">Contact</h4></div>
            <div class="button-group waves-effect waves-light about-button"><h4 class="header blue-grey-text text-darken-3 center">About Me</h4></div>
            <!-- <div class="button-group waves-effect waves-light adventure-button"><h4 class="header blue-grey-text text-darken-3 center">Adventure</h4></div> -->
          </div>

        </div>

      </div>
    </div>

  <footer class="page-footer"></footer>


  </body>
</html>
