/*font-family: 'Lora', serif;
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Brawler', serif;*/

body {
  background-color: rgb(253,244,228);
  font-family: 'Brawler', serif;
}

.parralax {
  opacity: .9;
}

.carousel {
  height:600px;
}

.dev-car {
  height: 500px;
  width: 100%;
}

.border {
  border: solid black 5px;
}

.add-shadow {
  text-shadow: 1px 1px #000000;
}

.section {
  background-color: rgb(253,244,238);
}

.fa-pencil {
  margin-left: 30px;
}

.background-shadow {
  background-color: rgba(253,244,238,.85);
  border-radius: 30px;
  border: solid 1px #37474F;
  text-align: center;
}

.hero-image {
  width: 90%;
  border: solid rgb(175,175,200);
  border-radius: 30px;
  height: 250px;
  object-fit: cover;
}

.button-group {
  width: 100%;
  background-color: rgb(255,249,248);
  border: 1px solid rgb(150,150,150);
  margin-top: 30px;
  color: rgb(33,32,31);
}

.button-group:hover {
  background-color: rgb(243,234,228);
}

.hide {
  visibility: hidden;
}

.page-footer {
  background-color: rgb(126,78,41)!important;
}

.modal-img {
  width: 100%;
  margin-top: 20px;
}

.modal-title {
  text-align: center;
}

.login {
  text-emphasis: bold;
  background-color: rgb(55,71,79);
  color: white;
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
}
